<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Big Exam Portal</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/logoN.jpg" rel="icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
  <!-- Bootstrap Icons -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
  <!-- AOS (Animate On Scroll) CSS -->
  <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
  <!-- GLightbox CSS -->
  <link href="https://cdn.jsdelivr.net/npm/glightbox@3.2.0/dist/css/glightbox.min.css" rel="stylesheet">
  <!-- Swiper CSS -->
  <link href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="/" class="logo d-flex align-items-center me-auto">
        <img src="assets/img/logoN.jpg" alt="logo">
        <h1 class="sitename">Big Exam Portal</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/" class="active">Home<br></a></li>
          <li><a href="events">Events</a></li>
          <li><a href="partner">Partner Institutes</a></li>
          <li><a href="team">Team</a></li>
          <li><a href="about">About Us</a></li>
          <li><a href="contact">Contact Us</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="login">Login</a>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <img src="assets/img/cover_portal1.jpg" alt="" data-aos="fade-in">

      <div class="container">
        <h2 data-aos="fade-up" data-aos-delay="100">It’s not about perfect,<br>It’s about effort</h2>
        <p data-aos="fade-up" data-aos-delay="200">Navigate your academic journey with the compass of knowledge and the
          key of perseverance, for every exam is a portal to your brightest future.</p>
        <div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="300">
          <a href="login" class="btn-get-started">Get Started</a>
        </div>
      </div>

    </section><!-- /Hero Section -->

    <!-- About Us Section -->
    <section id="about-us" class="section about-us">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
            <img src="assets/img/cover_about.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
            <h3>Big Exam Portal</h3>
            <p class="fst-italic">
              Welcome to the Section for Big Exams on our portal, your ultimate destination for conquering major tests
              that define your academic and professional paths. Here, you'll find a curated collection of resources
              meticulously designed to enhance your preparation experience. From comprehensive study guides and practice
              exams to expert tips and timely updates on exam schedules, this section equips you with everything needed
              to excel. Whether you're tackling college admissions tests, professional certifications, or standardized
              exams, our Section for Big Exams ensures you're well-prepared and confident on test day.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> <span>Comprehensive Resources: Access study guides, practice exams,
                  and expert tips tailored for major tests like college admissions and professional
                  certifications.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Timely Updates: Stay informed with the latest exam news,
                  important dates, and registration details.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>User-Friendly Interface: Navigate easily through our portal
                  to find the resources you need quickly and efficiently.</span></li>
            </ul>
          </div>

        </div>

      </div>

    </section><!-- /About Us Section -->

    <!-- Counts Section -->
    <section id="counts" class="section counts">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span id="students-counter" data-purecounter-start="0" data-purecounter-end="300"
                data-purecounter-duration="1" class="purecounter"></span>
              <p>Students</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span id="institutes-counter" data-purecounter-start="0" data-purecounter-end="15"
                data-purecounter-duration="1" class="purecounter"></span>
              <p>Institutes</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span id="events-counter" data-purecounter-start="0" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Events</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span id="trainers-counter" data-purecounter-start="0" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Trainers</p>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>

    </section>
    <!-- /Counts Section -->


    <!-- Why Us Section -->
    <section id="why-us" class="section why-us">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="why-box">
              <h3>Why Choose Our Exam Portal?</h3>
              <p>
                Choosing Big Exam Portal means choosing a trusted partner dedicated to your academic success. We ensure
                you're equipped to tackle exams confidently. Big Exam Portal is here to support your journey with
                precision, reliability, and a steadfast commitment to your educational goals.
              </p>
              <div class="text-center">
                <a href="#" class="more-btn"><span>Learn More</span> <i class="bi bi-chevron-right"></i></a>
              </div>
            </div>
          </div><!-- End Why Box -->

          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="row gy-4" data-aos="fade-up" data-aos-delay="200">

              <div class="col-xl-4">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-rss"></i>
                  <h4>Real-time Feedback</h4>
                  <p>Receive immediate feedback on practice exams and quizzes, enabling you to identify strengths and
                    areas needing improvement.</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-universal-access"></i>
                  <h4>Accessibility</h4>
                  <p>Study anytime, anywhere with our user-friendly online platform accessible via desktop and mobile
                    devices.</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-person-lines-fill"></i>
                  <h4>Community and Support</h4>
                  <p>Engage with a supportive community of participate in discussions, and receive peer support
                    throughout your exam journey.</p>
                </div>
              </div><!-- End Icon Box -->

            </div>
          </div>

        </div>

      </div>

    </section><!-- /Why Us Section -->

    <!-- Features Section -->
    <section id="features" class="features section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="100">
            <div class="features-item">
              <i class="bi bi-question-square" style="color: #ffbb2c;"></i>
              <h3><a href="#" class="stretched-link">Diverse Question Types</a></h3>
            </div>
          </div><!-- End Feature Item -->

          <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="200">
            <div class="features-item">
              <i class="bi bi-infinity" style="color: #5578ff;"></i>
              <h3><a href="#" class="stretched-link">Flexible Scheduling</a></h3>
            </div>
          </div><!-- End Feature Item -->

          <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="300">
            <div class="features-item">
              <i class="bi bi-alarm-fill" style="color: #e80368;"></i>
              <h3><a href="#" class="stretched-link">Automated Reminders</a></h3>
            </div>
          </div><!-- End Feature Item -->

          <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="400">
            <div class="features-item">
              <i class="bi bi-key" style="color: #e361ff;"></i>
              <h3><a href="#" class="stretched-link">Secure Login</a></h3>
            </div>
          </div><!-- End Feature Item -->

          <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="500">
            <div class="features-item">
              <i class="bi bi-person-walking" style="color: #47aeff;"></i>
              <h3><a href="#" class="stretched-link">Performance Monitoring</a></h3>
            </div>
          </div><!-- End Feature Item -->

          <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="600">
            <div class="features-item">
              <i class="bi bi-stopwatch-fill" style="color: #ffa76e;"></i>
              <h3><a href="#" class="stretched-link">Randomization</a></h3>
            </div>
          </div><!-- End Feature Item -->

          <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="700">
            <div class="features-item">
              <i class="bi bi-dot" style="color: #ee0808;"></i>
              <h3><a href="#" class="stretched-link">Live Support</a></h3>
            </div>
          </div><!-- End Feature Item -->

          <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="800">
            <div class="features-item">
              <i class="bi bi-cloud" style="color: #4233ff;"></i>
              <h3><a href="#" class="stretched-link">Cloud-based Infrastructure</a></h3>
            </div>
          </div><!-- End Feature Item -->

        </div>

      </div>

    </section><!-- /Features Section -->

    <!-- Team Section -->
    <section id="team" class="section team">

      <div class="container">

        <div class="row">

          <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="team_member">
              <img src="assets/img/team/sanjay_imgF.jpg" class="img-fluid" alt="">
              <div class="team_member-content">
                <h4>Sanjay Sonkariya</h4>
                <span>Frontend Developer</span>
                <p>
                  As a frontend developer, I create intuitive and engaging user interfaces with proficiency in modern
                  web technologies.
                </p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End Team Team_member -->

          <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="team_member">
              <img src="assets/img/team/prabhash_imgF.jpg" class="img-fluid" alt="">
              <div class="team_member-content">
                <h4>Prabhash Kumar</h4>
                <span>Backend Developer</span>
                <p>
                  As a backend developer, I architect and optimize server-side systems for seamless application
                  functionality.
                </p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End Team Team_member -->

          <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="team_member">
              <img src="assets/img/team/aman_imgF.jpg" class="img-fluid" alt="">
              <div class="team_member-content">
                <h4>Aman Kumar</h4>
                <span>Designer</span>
                <p>
                  As a designer, I craft visually compelling experiences that blend creativity with user-centric
                  functionality.
                </p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End Team Team_member -->

        </div>

      </div>

    </section><!-- /Team Section -->

  </main>

  <!-- Footer Section -->
  <footer id="footer" class="footer position-relative">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="/" class="logo d-flex align-items-center">
            <span class="sitename">Big Exam Portal</span>
          </a>
          <div class="footer-contact pt-3">
            <p>Green Park Colony</p>
            <p>Dehradun, UK 248171</p>
            <p class="mt-3"><strong>Phone:</strong> <span>+91 85 61XX XXXX</span></p>
            <p><strong>Email:</strong> <span>bigexamportal@gmail.com</span></p>
          </div>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="about">About Us</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Terms of service</a></li>
            <li><a href="">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-12 footer-newsletter">
          <h4>Our Newsletter</h4>
          <p>Subscribe to our newsletter and receive the latest news about our products and services!</p>
          <form action="#" method="post">
            <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Subscribe"></div>
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your subscription request has been sent. Thank you!</div>
          </form>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p><span>Copyright</span> ©
        <script type="text/javascript">var year = new Date(); document.write(year.getFullYear());</script>
        <strong class="px-1 sitename">BigExamPortal</strong> <span>All Rights Reserved</span>
      </p>
      <div class="credits">
        Designed by <a href="">Vision&Mission</a>
      </div>
    </div>

  </footer><!-- /Footer Section -->

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Include your JavaScript files here -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/glightbox@3.2.0/dist/js/glightbox.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/purecounterjs@1.0.9/dist/purecounter_vanilla.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>
  
  <!-- Chatbot JS Tag -->
  <script>
        window.watsonAssistantChatOptions = {
          integrationID: "6a9f8bae-406d-416a-ba3f-e9b9538d24a4", // The ID of this integration.
          region: "eu-gb", // The region your integration is hosted in.
          serviceInstanceID: "b037e9a5-f106-440f-a988-c9266a0c60a3", // The ID of your service instance.
          onLoad: async (instance) => { await instance.render(); }
        };
        setTimeout(function(){
          const t=document.createElement('script');
          t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
          document.head.appendChild(t);
        });
  </script>

</body>

</html>